@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --main-bg: #FFFFFF;
  --accent-color: #ff7400;
  --main-title: #d67e35;
  --secondary-title: #bc9060;
  --text-color: #656363;
  --secondary-text-color: #000000;
  --title-color:#2C2C2C;
  --cards-color: #d67e34;
  --testimonials-bg: #e6e5e5;
  --gallery-block-color:#FF0000;
  --dots-bg:#C4C4C4;
  --main-font:"Open Sans", sans-serif;
  --secondary-font:"Tinos", serif;
  --additional-font: "Cookie", cursive;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: var(--main-bg);
  color: var(--secondary-text-color);
  font-family: var(--main-font);
  font-weight: 700;
}

body.lock {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1110px;
  }
}

.menu-btn {
  width: 157px;
  height: 47px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.35;
  color: var(--main-bg);
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  transition: background-color, color, var(--animation);
}
.menu-btn:hover, .menu-btn:focus {
  background-color: var(--cards-color);
  color: var(--secondary-text-color);
}

.menu-btn--resizing {
  margin-left: 180px;
  width: 137px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .menu-btn--resizing {
    margin-left: 80px;
    margin-right: auto;
  }
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .order-block__btn--resizing {
    width: 139px;
    height: 43px;
  }
}

.cart-btn {
  width: 13px;
  height: 13px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.our-menu__btn {
  padding: 14px 68px 14px 67px;
  width: 220px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--main-bg);
  background-color: var(--cards-color);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  transition: background-color, color, var(--animation);
}
.our-menu__btn:hover, .our-menu__btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

.burger-menu-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 1280px) {
  .burger-menu-btn {
    display: none;
  }
}

.header {
  position: absolute;
  z-index: 2000;
  top: 0;
  width: 100%;
  right: 0;
}

.header-menu {
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .header-menu {
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
  }
}

.header-logo {
  margin-right: 243px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .header-logo {
    margin-right: 0;
  }
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .header-logo__icon {
    width: 44px;
    height: 37px;
  }
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .menu-list {
    justify-content: start;
  }
}
.menu-list__border {
  border-right: 1px solid #FFFFFF;
  height: 51px;
  margin-right: 34px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .menu-list__border {
    border: none;
    margin-right: 0;
  }
}
.menu-list__item {
  margin-right: 23px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .menu-list__item {
    margin-right: 0;
    margin-top: 30px;
  }
}
.menu-list__link {
  padding-top: 20px;
  padding-bottom: 29px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.35;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main-bg);
  transition: color, var(--animation);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .menu-list__link {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  }
}
.menu-list__link:hover, .menu-list__link:focus {
  color: var(--accent-color);
}
.menu-list__text {
  margin-top: 1px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  color: var(--main-bg);
}
.menu-list__link--augmentation {
  flex-basis: 350px;
  flex-shrink: 0.2;
}

.link-resizing {
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.38;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .link-resizing {
    justify-content: center;
  }
}

.icon {
  margin-right: 8px;
  width: 23px;
  height: 23px;
  fill: var(--main-bg);
  transition: fill, var(--animation);
}

.menu-list__link:hover .icon {
  fill: var(--accent-color);
}

.menu-list__items:not(:last-child) {
  margin-right: 45px;
}

.icon-cart {
  transform: translate(-57%, -35%);
  fill: white;
  transition: fill, transform, var(--animation);
}
.icon-cart:hover, .icon-cart:focus {
  fill: var(--accent-color);
  transform: scale(1.5);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .icon-cart {
    height: 35px;
    width: 35px;
  }
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .menu-list--mob-disappearing {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .menu-list--mob-disappearing {
    display: flex;
  }
}

.menu-sign {
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--accent-color);
}
@media screen and (min-width: 1280px) {
  .menu-sign {
    display: none;
  }
}

.menu-sign:not(:last-child) {
  margin-bottom: 4px;
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .mobile-nav {
    position: fixed;
    left: -100%;
    top: 57px;
    flex-direction: column;
    background-image: url(../img/mobile/hero-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
  }
}

.mobile-nav.active {
  left: 0;
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .mob-appearing {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .mob-appearing {
    display: none;
  }
}

.burger-menu-btn.active .menu-sign:nth-child(2) {
  opacity: 0;
}

.burger-menu-btn.active .menu-sign:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  transition: 0.3s;
}

.burger-menu-btn.active .menu-sign:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  transition: 0.3s;
}

.intro {
  position: relative;
  padding-top: 203px;
  padding-bottom: 150px;
  background-image: url(../img/desktop/hero-img@1x.jpg);
  background-repeat: no-repeat;
  background-size: 1440px 670px;
  background-position: top;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .intro {
    background-image: url(../img/desktop/hero-img@2x.jpg);
  }
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .intro {
    padding-top: 252px;
    padding-bottom: 75px;
    background-image: url(../img/mobile/hero-mobile@1x.jpg);
    background-size: 320px 734px;
  }
}
@media screen and (max-width: 767.98px) and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-width: 320px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-width: 320px) and (min-resolution: 2dppx) {
  .intro {
    background-image: url(../img/mobile/hero-mobile@2x.jpg);
  }
}
.intro__title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.14;
  color: var(--main-title);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .intro__title {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    line-height: 1.13;
    text-align: center;
  }
}
.intro__text {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 80px;
  line-height: 1.15;
  color: var(--main-title);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .intro__text {
    text-align: center;
    font-size: 40px;
    line-height: 1.15;
  }
}
.intro__sub-title {
  margin-top: 0;
  margin-bottom: 21px;
  margin-left: 165px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  color: var(--main-bg);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .intro__sub-title {
    margin-bottom: 27px;
    margin-left: 0;
    font-size: 15px;
    line-height: 1.33;
    text-align: center;
  }
}

.intro__sub-title::before {
  display: block;
  content: "";
  width: 61px;
  height: 2px;
  transform: translate(-116%, 637%);
  background-color: var(--main-bg);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .intro__sub-title::before {
    display: none;
  }
}

.intro__sub-title::after {
  display: block;
  content: "";
  width: 61px;
  height: 2px;
  transform: translate(290%, -673%);
  background-color: var(--main-bg);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .intro__sub-title::after {
    display: none;
  }
}

.intro-cards {
  margin-top: 124px;
  display: flex;
  flex-direction: row;
  margin-left: -31px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .intro-cards {
    margin-top: 202px;
    flex-direction: column;
    margin-bottom: -14px;
  }
}
.intro-cards__icon {
  margin-left: auto;
  margin-right: auto;
}
.intro-cards__item {
  width: 100%;
  height: 328px;
  margin-left: 31px;
  flex-basis: calc((100% - 93px) / 3);
  padding-top: 48px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 12px;
  text-align: center;
  background: var(--main-bg);
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .intro-cards__item {
    height: 100%;
    width: 290px;
    padding-top: 33px;
    padding-bottom: 25px;
    padding-left: 13px;
    padding-right: 13px;
    margin-bottom: 14px;
    flex-basis: calc((100% - 14px) / 1);
  }
}
.intro-cards__title {
  margin-bottom: 0;
  margin-top: 4px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  color: var(--title-color);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .intro-cards__title {
    margin-top: 0;
  }
}
.intro-cards__text {
  margin-top: 20px;
  margin-bottom: 0;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  color: var(--text-color);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .intro-cards__text {
    margin-top: 6px;
    font-size: 22px;
    line-height: 1.13;
  }
}

.intro-cards__title--discoloring {
  color: var(--secondary-title);
}

#history {
  padding-bottom: 104px;
  background-image: url(../img/desktop/bg@1x.jpg);
  background-repeat: no-repeat;
  background-size: 1440px, 977px;
  background-position: bottom;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  #history {
    background-image: url(../img/desktop/bg@2x.jpg);
  }
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  #history {
    padding-bottom: 30px;
    background-image: url(../img/mobile/bg-mobile@1x.jpg);
    background-size: 320px 357px;
  }
}
@media screen and (max-width: 767.98px) and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-width: 320px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-width: 320px) and (min-resolution: 2dppx) {
  #history {
    background-image: url(../img/mobile/bg-mobile@2x.jpg);
  }
}

.history-wrap {
  display: flex;
  margin-bottom: 202px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .history-wrap {
    flex-direction: column;
    margin-bottom: 70px;
  }
}

.history-img {
  margin-left: 125px;
  flex-shrink: 0.1;
  flex-basis: 54%;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .history-img {
    margin-left: 0;
  }
}

.history-content__title {
  margin-top: 0;
  margin-bottom: 21px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 54px;
  line-height: 1.14;
  text-align: center;
  color: var(--secondary-text-color);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .history-content__title {
    margin-left: 68px;
    margin-right: 71px;
    margin-bottom: 48px;
    font-size: 40px;
    line-height: 1.15;
  }
}

.history-content__title--discoloring {
  margin: 0;
  color: var(--cards-color);
}

.history-content__title--repositioning {
  margin-top: 0;
  margin-bottom: 139px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .history-content__title--repositioning {
    margin-bottom: 68px;
  }
}

.history-content__text {
  margin-top: 0;
  margin-bottom: 97px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: var(--text-color);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .history-content__text {
    margin-bottom: 124px;
  }
}

.product-list {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .product-list {
    margin-bottom: 45px;
    flex-direction: column;
  }
}
.product-list__item:not(:last-child) {
  margin-bottom: 22px;
}
.product-list__count {
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.35;
  text-align: center;
  color: var(--secondary-title);
}
.product-list__name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
  color: var(--secondary-text-color);
}

#order-block {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  #order-block {
    flex-direction: column;
  }
}

.order-block__title {
  margin-top: 0;
  margin-right: 280px;
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 52px;
  line-height: 1.15;
  color: var(--cards-color);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .order-block__title {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 21px;
    font-size: 30px;
    line-height: 1.13;
    text-align: center;
  }
}

.order-block__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.37;
  color: var(--main-bg);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .order-block__text {
    text-align: center;
    margin-bottom: 41px;
  }
}

.order-wrap {
  flex-shrink: 0.1;
  flex-basis: 83%;
}

.our-dishes {
  padding-top: 132px;
  padding-bottom: 150px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .our-dishes {
    padding-top: 63px;
    padding-bottom: 126px;
  }
}
.our-dishes__title {
  margin-top: 0;
  margin-bottom: 138px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .our-dishes__title {
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 98px;
  }
}

.wrap {
  display: flex;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .wrap {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.menu-points {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .menu-points {
    margin-left: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    flex-basis: 57%;
    flex-shrink: 0.1;
    text-align: center;
  }
}
.menu-points__name {
  margin: 0;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  color: var(--secondary-text-color);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .menu-points__name {
    font-size: 22px;
    line-height: 1.13;
  }
}

.menu-icons {
  display: flex;
  flex-direction: column;
  flex-basis: 15%;
  flex-shrink: 1;
  margin-left: 30px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .menu-icons {
    margin-left: 0;
    margin-top: 49px;
    flex-basis: 40%;
    flex-shrink: 0.1;
  }
}

.menu-icons__item:not(:last-child) {
  margin-bottom: 29px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .menu-icons__item:not(:last-child) {
    margin-bottom: 87px;
  }
}

.dots {
  margin-left: 7px;
  margin-right: 11px;
  font-size: 20px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .dots {
    display: none;
  }
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .menu-points__items:nth-child(1) {
    margin-top: 70px;
  }
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .menu-points__items:nth-child(3) {
    margin-bottom: 30px;
  }
}

#our-menu {
  padding-top: 100px;
  padding-bottom: 226px;
  background-image: url(../img/desktop/our-menu@1x.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1440px 1036px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  #our-menu {
    background-image: url(../img/desktop/our-menu@2x.jpg);
  }
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  #our-menu {
    padding-top: 62px;
    padding-bottom: 106px;
    background-image: url(../img/mobile/menu-bg-mobile@1x.jpg);
    background-size: 320px 838px;
  }
}
@media screen and (max-width: 767.98px) and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-width: 320px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-width: 320px) and (min-resolution: 2dppx) {
  #our-menu {
    background-image: url(../img/mobile/menu-bg-mobile@2x.jpg);
  }
}

.our-menu__wrap {
  display: flex;
  flex-direction: row;
  margin-left: -30px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .our-menu__wrap {
    margin-left: -15px;
  }
}

.our-menu__card {
  position: relative;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
  padding: 80px 62px 29px 58px;
  background-color: var(--main-bg);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .our-menu__card {
    margin-left: 15px;
    flex-basis: calc((100% - 15px) / 1);
    padding: 80px 39px 26px 29px;
  }
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .our-menu__card--mobile-disappearing {
    display: none;
  }
}

.our-menu__icon {
  margin-bottom: 22px;
  border-radius: 50%;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .our-menu__icon {
    margin-bottom: 18px;
  }
}

.our-menu__title {
  margin-top: 0;
  margin-bottom: 17px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .our-menu__title {
    margin-bottom: 21px;
  }
}

.our-menu__text {
  margin-top: 0;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: var(--secondary-text-color);
}

.our-menu__recommendation {
  position: absolute;
  padding: 7px 11px 11px 12px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  text-align: center;
  transform: translate(-47%, -223%);
  color: var(--secondary-text-color);
  background-color: var(--cards-color);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .our-menu__recommendation {
    padding: 9px 15px 9px 14px;
    transform: translate(-23%, -223%);
  }
}

.our-menu__number {
  position: absolute;
  padding: 34px 31px 33px 29px;
  font-family: var(--additional-font);
  font-weight: 400;
  font-size: 30px;
  line-height: 1.1;
  transform: translate(102%, -104%);
  border: 7px solid var(--main-bg);
  border-radius: 50%;
  color: var(--main-bg);
  background: var(--cards-color);
}

.history-content__title--discoloration {
  color: var(--main-bg);
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .our-menu__number--mobile-appearing {
    display: inline-block;
  }
}
@media screen and (min-width: 1280px) {
  .our-menu__number--mobile-appearing {
    display: none;
  }
}

@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .mobile-disappearing {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .mobile-disappearing {
    display: inline-block;
  }
}

.testimonials {
  padding-top: 104px;
  padding-bottom: 108px;
  background-color: var(--testimonials-bg);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .testimonials {
    padding-top: 11px;
    padding-bottom: 26px;
  }
}

.testimonials-wrap__text {
  margin-top: 0;
  margin-bottom: 26px;
  margin-left: 109px;
  margin-right: 109px;
  width: 920px;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
  color: var(--secondary-text-color);
  text-align: center;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .testimonials-wrap__text {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}
.testimonials-wrap__icon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 17px;
  border-radius: 50%;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .testimonials-wrap__icon {
    margin-bottom: 4px;
  }
}
.testimonials-wrap__visitor {
  margin-top: 0;
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
  color: var(--secondary-text-color);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .testimonials-wrap__visitor {
    margin-bottom: 5px;
  }
}
.testimonials-wrap__visitor-name {
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
  color: var(--secondary-text-color);
}

/*-------------- Слайдер ------------------- */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
.slick-arrow.slick-prev {
  display: none;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  display: none;
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
  display: none;
}

/* Точки (булиты) */
.slick-dots {
  margin: 0;
  padding: 0;
}

/* Активная точка */
/* Элемент точки */
/*-----------Конкретный слайдер -----------*/
.single-item {
  position: relative;
}

.slick-arrow.slick-prev {
  display: none;
}

.slick-arrow.slick-next {
  display: none;
}

.single-item .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-item .slick-dots li {
  list-style: none;
}

.single-item .slick-dots button {
  width: 5px;
  height: 5px;
  font-size: 0;
  border: none;
  border-radius: 50%;
  background-color: var(--dots-bg);
}

.single-item .slick-dots li:not(:last-child) {
  margin-right: 2px;
}

.single-item .slick-dots li.slick-active button {
  width: 7px;
  height: 7px;
  border: 1px solid var(--accent-color);
  background-color: var(--main-bg);
}

/*---------------Настройка контента внутри слайдера ------------ */
.gallery {
  padding-top: 101px;
  padding-bottom: 100px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .gallery {
    padding-top: 71px;
    padding: bottom 71px;
  }
}
.gallery__list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .gallery__list {
    margin-top: 0;
    margin-bottom: -20px;
    margin-left: 0;
  }
}
.gallery__item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: 100% -90px/3;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .gallery__item {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 0;
    flex-basis: 100% -20px/1;
  }
}

.gallery__list::before {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 100px;
  top: 30px;
  right: 111%;
  background-color: var(--gallery-block-color);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .gallery__list::before {
    display: none;
  }
}

.gallery__list::after {
  position: absolute;
  content: "";
  display: block;
  width: 30px;
  height: 100px;
  top: 30px;
  right: -180px;
  background-color: var(--gallery-block-color);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .gallery__list::after {
    display: none;
  }
}

.history-content__title--indent {
  margin-bottom: 60px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .history-content__title--indent {
    margin-bottom: 82px;
  }
}

.gallery__icon {
  max-width: none;
  height: 100%;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .gallery__icon {
    width: 100%;
  }
}

.our-chefs {
  padding-bottom: 100px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .our-chefs {
    padding-bottom: 21px;
  }
}
.our-chefs__list {
  display: flex;
  flex-direction: row;
  margin-left: -30px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .our-chefs__list {
    flex-direction: column;
    margin-left: 0;
    margin-bottom: -19px;
  }
}
.our-chefs__item {
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .our-chefs__item {
    margin-left: 0;
    margin-bottom: 19px;
    flex-basis: calc((100% - 19px) / 1);
  }
}
.our-chefs__img {
  transform: scale(1);
  transition: transform, ease-in, var(--animation);
}
.our-chefs__img:hover, .our-chefs__imgfocus {
  transform: scale(1.16);
}

.history-content__title--gap {
  margin-bottom: 107px;
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .history-content__title--gap {
    margin-bottom: 80px;
  }
}

.without-footer {
  width: 100%;
  height: 732px;
  background-image: url(../img/desktop/section-img@1x.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .without-footer {
    background-image: url(../img/desktop/section-img@2x.jpg);
  }
}
@media screen and (max-width: 767.98px) and (min-width: 320px) {
  .without-footer {
    width: 320px;
    height: 708px;
    background-image: url(../img/mobile/without-footer-mobile@1x.jpg);
    background-size: 320px 708px;
  }
}
@media screen and (max-width: 767.98px) and (min-width: 320px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-width: 320px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-width: 320px) and (min-resolution: 2dppx) {
  .without-footer {
    background-image: url(../img/mobile/without-footer-mobile@2x.jpg);
  }
}/*# sourceMappingURL=styles.css.map */