.menu-btn {
    width: 157px;
    height: 47px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.35;
    color: var(--main-bg);
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
    transition: background-color, color, var(--animation);
    &:hover,
    &:focus{
        background-color: var(--cards-color);
        color: var(--secondary-text-color);
    }
}
.menu-btn--resizing{
    margin-left: 180px;
    width: 137px;
    @include mobile {
        margin-left: 80px;
        margin-right: auto;
        }        
}
.order-block__btn--resizing{
    @include mobile{
        width: 139px;
        height: 43px;
    }
}

.cart-btn{
width: 13px;
height: 13px;
background-color: transparent;
border: none;
cursor:pointer;


}
.our-menu__btn{
    padding: 14px 68px 14px 67px;
    width: 220px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: var(--main-bg);
    background-color: var(--cards-color) ;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border: none;
    cursor:pointer;
    transition: background-color, color, var(--animation);
    &:hover,
    &:focus{
        background-color:var(--accent-color);
        color: var(--secondary-text-color);
    }
}
.burger-menu-btn{
background-color: transparent;
border: none;
cursor: pointer;
@include desktop{
    display: none;
}
}