:root {
  --main-bg: #FFFFFF;
  --accent-color: #ff7400;
  --main-title: #d67e35;
  --secondary-title: #bc9060;
  --text-color: #656363;
  --secondary-text-color: #000000;
  --title-color:#2C2C2C;
  --cards-color: #d67e34;
  --testimonials-bg: #e6e5e5;
  --gallery-block-color:#FF0000;
  --dots-bg:#C4C4C4;
  --main-font:'Open Sans', sans-serif;
  --secondary-font:'Tinos', serif;
  --additional-font: 'Cookie', cursive;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
